.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-top: 94px;
    }
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700d;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.advantages__list {
    @media screen and (min-width: 768px) {
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.advantages__item {
   

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);

        &:nth-child(2n+1) {
            margin-right: 30px;
        }   
    }

    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 4);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.advantages__background {
    background-color: $secondary-background-color;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.advantages__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
}

.advantages__text {
    margin-top: 0;
    margin-bottom: 0;
}