.social-nav {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.social-nav__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color $transition-argument;

    &:hover,
    &:focus {
    background-color: $accent-color;
    }
}

.social-nav__item:not(:last-child) {
    margin-right: 10px;
}

.social-nav__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill $transition-argument;

    .social-nav__link:hover &,
    .social-nav__link:focus & {
    fill: $primary-white-color;
    }
}

.social-nav__icon--footer {
    fill: $primary-white-color;
}