$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$secondary-background-color: #F5F4FA;
$footer-text-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000 ;
$footer-background-color: #2F303A;

$default-font: 'Roboto', sans-serif;
$logo-font: Raleway, sans-serif;

$transition-argument: 250ms cubic-bezier(0.4, 0, 0.2, 1);